body {
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    font-family: 'Roboto', sans-serif;
    border: none;
    padding: 10px;
    margin: 10px;
    height: 50px;
    width: 500px;
    border: 1px solid #eaeaea;
    outline: none;
}

input:hover {
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

input:focus {
    border-color: #4d90fe;
}

input[type="submit"] {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 2px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    width: 150px;
    padding: 0 16px;
    height: 36px;
}

input[type="submit"]:hover {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
}

i {
    padding-left: 10px;
}