<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shorten URL</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
</head>
<body>
<div class="container">
    <div class="content">
        <form action="." method="POST" role="search">
            <div >
                <input type="text" name="link"  required="true" placeholder="Your original URL here">
            </div>
            <input type="submit" name="link-form" value="SHORTEN URL" ></input>
        </form>
        {% if shortened_url %}
        <a href="{{shortened_url}}" target="_blank">{{shortened_url}}</a>
        {% endif %}
    </div>
</div>

</body>
</html>
