<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shorten URL</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='sweetalert/sweetalert.css') }}">
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script src="{{ url_for('static',filename='sweetalert/sweetalert.min.js') }}"></script>
</head>
<body>
<div class="container">
    <div class="content">
        <form action="." method="POST" role="search">
            <div>
                <input type="text" name="link" required="true" placeholder="Your original URL here">
            </div>
            <input type="submit" name="link-form" value="SHORTEN URL"></input>
        </form>
        {% if shortened_url %}
            <script>
                swal({
                    title: "Your short URL",
                    text: "<a id='url' href={{shortened_url}}>{{shortened_url}}</a> <i onclick=\"copyToClipboard('#url')\" class=\"fa fa-clone\" aria-hidden=\"true\"></i>",
                    type: "success",
                    html: true
                });
            </script>
        {% endif %}
        {% if original_url %}
            <script>
                swal({
                    title: "Original URL",
                    text: "<a id='url' href={{original_url}}>{{original_url}}</a> <i onclick=\"copyToClipboard('#url')\" class=\"fa fa-clone\" aria-hidden=\"true\"></i>",
                    html: true
                });
            </script>
        {% endif %}
        {% if error %}
            <script>
                swal({
                    title: "{{ error }}",
                    type: "error"
                });
            </script>
        {% endif %}
        {% if not_exist %}
            <script>
                swal({
                    title: "404: Page not found",
                    text: "<span style='font-weight:bold'>{{ not_exist }}</span> does not exist.",
                    type: "error",
                    html: true
                });
            </script>
        {% endif %}
    </div>
</div>

</body>
</html>
